
html, body {
    background-color: white;
    margin: 0px;
    padding: 0px;    
}

body {
    font-size: 16px;
    font-family: Tahoma, sans-serif;
}

a:hover, a:focus {
    text-decoration: none;
}

p, ul, ol {
    margin-bottom: 10px;
}

ul, ol {
    margin-left: 10px;
}

nav {
    display: block;
    font-family: Anton, Tahoma, sans-serif;
    text-align: right;
    background-color: black;
    color: white;
    margin-top: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav a,
nav a:visited {
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 0;
    color: #ddd;
}

nav a.selected {
    color: #777;
}

nav a:hover {
    color: #edd;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding-left: 25px;
    padding-right: 5px;
}

footer {
    display: block;
    background-color: black;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 23px;
    padding-bottom: 15px;    
    padding-left: 30px;
}

#content {
    line-height: 1.3em;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#content h1 {
    text-align: center;

}

#content .codehilite {
    font-family: monospace;
    border: 1px dashed #777;
    padding: 3px;
    margin-bottom: 10px;
}

.codehilite pre { margin: 2px; }
.codehilite .nt { color: #559955; }
.codehilite .p { color: #555555; }
.codehilite .s2 { color: #995555; }

.admonition {
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 24px;    
}

.note {
      border-left: 4px solid #52E052;
      background: #D0FCD0;    
}

.note .admonition-title {
        font-weight: bold;
        color: #32C032;
        margin-right: 10px;    
}

code {
  border-radius: 5px;
  background-color: #eee ;
  border: 1px solid #ccc ;
  padding-left: 2px;
  padding-right: 2px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  border: 1px solid #666;
}

td {
  border: 1px solid #666;
  padding: 3px;
}

th {
  background-color: #ccc;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.indent {
  margin-left: 25px;
}

/* Header Anchors */
article {
    padding-left: 30px;
}

article .headeranchor-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -15px;
}

article .headeranchor-link:focus {
  outline: none;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  position: relative;
}

article h1 .headeranchor,
article h2 .headeranchor,
article h3 .headeranchor,
article h4 .headeranchor,
article h5 .headeranchor,
article h6 .headeranchor {
  display: none;
  color: #000;
  vertical-align: middle;
}

article h1:hover .headeranchor-link,
article h2:hover .headeranchor-link,
article h3:hover .headeranchor-link,
article h4:hover .headeranchor-link,
article h5:hover .headeranchor-link,
article h6:hover .headeranchor-link {
  height: 1em;
  padding-left: 8px;
  margin-left: -30px;
  line-height: 1;
  text-decoration: none;
}

article h1:hover .headeranchor-link .headeranchor,
article h2:hover .headeranchor-link .headeranchor,
article h3:hover .headeranchor-link .headeranchor,
article h4:hover .headeranchor-link .headeranchor,
article h5:hover .headeranchor-link .headeranchor,
article h6:hover .headeranchor-link .headeranchor {
  display: inline-block;
}

article .headeranchor {
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headeranchor:before {
  content: ' ';
}
