.site
scripts/*.pyc
scripts/.hyde_deps
extensions/*.pyc
.hyde_deps
content/example/object/*
content/example/person/*
content/example/activity/*
content/example/place/*
content/example/info/*
content/example/group/*
content/example/identifier/*
content/example/name/*
content/example/value/*
content/model/example_index.html
