-e git://github.com/linked-art/crom.git#egg=cromulent
mkdocs
pymdown_extensions<=5.0
rdflib
pyld
requests
lxml
mkdocs-mermaid2-plugin
mkdocs-macros-plugin
-e git://github.com/linked-art/mkdocs-linkedart-plugin.git#egg=mkdocs-linkedart-plugin
