click==7.1.2
future==0.18.2
Jinja2==2.11.2
joblib==0.14.1
livereload==2.6.1
lunr==0.5.6
Markdown==3.2.1
MarkupSafe==1.1.1
mkdocs==1.1
nltk==3.5
pkg-resources==0.0.0
PyYAML==5.3.1
regex==2020.5.7
six==1.14.0
tornado==6.0.4
tqdm==4.46.0
pymdown_extensions<=5.0
-e git://github.com/thegetty/crom.git#egg=cromulent
