<!doctype html>
<html lang="en">
    <head>
        <link href="http://fonts.googleapis.com/css?family=Anton"
            rel="stylesheet" type="text/css">
            <title>{{ resource.meta.title }}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ media_url('css/style.css') }}">
    </head>
    <body>
        <nav>
            {% import "macros.j2" as macros with context %}
            {{ macros.render_basic_menu() }}
        </nav>

        <h1>{{ resource.meta.title }}</h1>
        <hr/>

        <article id="content">
        {% filter regex_replace("aat:([0-9]+)", "<a href='http://vocab.getty.edu/aat/\\1' class='aat'>aat:\\1</a>") -%}
            {% filter markdown -%}
                {% filter regex_replace_fn("`([A-Za-z_]+)`") -%}
                    {% block content %}{% endblock %}
                {%- endfilter %}
            {%- endfilter %}
        {%- endfilter %}
        </article>

        <footer>
        Contact: rsanderson@getty.edu
        </footer>
        {% if site.config.mode == "production" -%}
            {% include "ga.j2" %}
        {%- endif %}
    </body>
</html>
