<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600|Roboto:300" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="{{ media_url('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ media_url('css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ media_url('css/style.css') }}">

        <link rel="stylesheet" href="{{ media_url('vendor/opentip.css') }}">
        <script src="{{ media_url('vendor/opentip.js') }}"></script>

        <title>{{ resource.meta.title }}</title>

    </head>
    <body>
        <nav>
            {% import "macros.j2" as macros with context %}
            {{ macros.render_basic_menu() }}
        </nav>
        <main class="container">

            <h1>{{ resource.meta.title }}</h1>

            <article id="content">
            {% filter regex_replace_fn("&quot;([A-Za-z_]+)&quot;", "ctxtrepl") -%}
                {% filter regex_replace_fn("aat:([0-9]+)", "aatlabel") -%}
                    {% filter markdown -%}
                        {% filter regex_replace_fn("`([A-Za-z_]+)`", "ctxtrepl") -%}
                            {% block content %}{% endblock %}
                        {%- endfilter %}
                    {%- endfilter %}
                {%- endfilter %}
            {%- endfilter %}
            </article>
        </main>
        <footer>
        &copy; Linked Art Contributors ; Content published under CC-BY licence ; Contact: <a href="mailto:rsanderson@getty.edu">rsanderson@getty.edu</a>
        </footer>
        {% if site.config.mode == "production" -%}
            {% include "ga.j2" %}
        {%- endif %}
    </body>
</html>
