
{% macro include_example(link) -%}

```json
{% include site.config.var.exampleDir + "/" + link %}

```
[Raw]({{ site.config.var.scheme + "://" + site.config.var.hostname + site.config.base_url + site.config.var.exampleDir + "/" + link }}) | 
[Playground](http://json-ld.org/playground/#startTab=tab-expanded&json-ld={{ site.config.var.scheme + "://" + site.config.var.hostname + site.config.base_url + site.config.var.exampleDir + "/" + link|urlencode }})
{%- endmacro %}

{% macro render_basic_menu() -%}
<ul>
{% for menu_item in menu %}
    <li><a {% if (menu_item.url == resource.relative_path) %}class="selected" {% endif -%}
        href="{{ content_url(menu_item.url) }}">{{ menu_item.title }}</a></li>
{% endfor %}
</ul>
{%- endmacro %}

{% macro render_bottom_article_nav() %}
<div class="bottom_article_nav">
{% if resource.next_by_index is not none -%}
    <div class="next"><a href="{{ resource.next_by_index.full_url }}">
    {{ resource.next_by_index.meta.title }}</a>
    &gt;</div>
{%- endif %}

{% if resource.prev_by_index is not none -%}
    <div class="prev">&lt; <a href="{{ resource.prev_by_index.full_url }}">
    {{ resource.prev_by_index.meta.title }}</a>
    </div>
{%- endif %}
</div>
{% endmacro %}
