<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600|Roboto:300" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="{{ media_url('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ media_url('css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ media_url('css/style.css') }}">

        <link rel="stylesheet" href="{{ media_url('vendor/opentip.css') }}">
        <script src="{{ media_url('vendor/opentip.js') }}"></script>
        <script src="{{ media_url('vendor/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ media_url('vendor/underscore-min.js') }}"></script>
        <script src="{{ media_url('vendor/screenfull.min.js') }}"></script>

        <title>{{ resource.meta.title }}</title>

    </head>
    <body>
        <nav>
            {% import "macros.j2" as macros with context %}
            {{ macros.render_basic_menu() }}
        </nav>
        <main class="container">

            <h1>{{ resource.meta.title }}</h1>

            <article id="content">
            {% filter regex_replace_fn('(&quot;|")([0-9A-Za-z_|:]+)(&quot;|")', "ctxtrepl") -%}
                {% filter regex_replace_fn("aat:([0-9]+)", "aatlabel") -%}
                    {% filter markdown -%}
                        {% filter regex_replace_fn("`([A-Za-z_]+)`", "ctxtrepl") -%}
                            {% block content %}{% endblock %}
                        {%- endfilter %}
                    {%- endfilter %}
                {%- endfilter %}
            {%- endfilter %}
            </article>
        </main>
        <footer>
	  <span style="float:left"><a href="https://netlify.com/"><img src="https://www.netlify.com/img/global/badges/netlify-light.svg"/></a></span>
&copy; Linked Art Contributors ; Content published under CC-BY licence ; Contact: <a href="mailto:robert.sanderson@yale.edu">robert.sanderson@yale.edu</a>
        <form name="contact" method="POST" data-netlify="true">
            <span>Comment?</span> <input type="text" name="comment"/>
            <input type="hidden" name="page" value=" {{ resource.relative_path }} "/>
            <button type="submit">Send</button>
        </form>
        </footer>
        {% if site.config.mode == "production" -%}
            {% include "ga.j2" %}
        {%- endif %}
        <script>
            if (window.location.hostname != "linked.art") {
                $("#main_nav_list").prepend('<span class="nav_warning">Preview Of <a href="https://linked.art/">linked.art</a> Change</span>');
            }
        </script>
      
    </body>
</html>
