<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ 'media/css/normalize.css'|url }}">
        <link rel="stylesheet" href="{{ 'media/css/skeleton.css'|url }}">
        <link rel="stylesheet" href="{{ 'media/css/style.css'|url }}">
        <link rel="stylesheet" href="{{ 'media/vendor/opentip.css'|url }}">
        <script src="/media/vendor/opentip.js"></script>
        <title>{{ page.title }}</title>

    </head>
    <body>
        <nav>
            {% import "macros.j2" as macros with context %}
            {{ macros.render_basic_menu() }}
        </nav>
        <main class="container">

            <h1>{{ page.title }}</h1>

            <article id="content">
                {{ page.content }}
            </article>
        </main>
        <footer>

      <span style="float:left"><a href="https://netlify.com/"><img src="https://www.netlify.com/img/global/badges/netlify-light.svg"/></a></span>
      &copy; Linked Art Editorial Board. Published under the CC BY 4.0 license. Contact: <a href="mailto:robert.sanderson@yale.edu">Rob Sanderson</a>.</p>

        <form name="contact" method="POST" data-netlify="true">
            <span>Comment?</span> <input type="text" name="comment"/>
            <input type="hidden" name="page" value=" {{ page.url|url }} "/>
            <button type="submit">Send</button>
        </form>
        </footer>
        {% if build == "production" -%}
            {% include "ga.j2" %}
        {%- endif %}      

    </body>
</html>
