<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600|Roboto:300" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ 'media/css/normalize.css'|url }}">
        <link rel="stylesheet" href="{{ 'media/css/skeleton.css'|url }}">
        <link rel="stylesheet" href="{{ 'media/css/style.css'|url }}">
        <link rel="stylesheet" href="{{ 'media/vendor/opentip.css'|url }}">
        <script src="/media/vendor/opentip.js"></script>
        <title>{{ page.title }}</title>

    </head>
    <body>
        <nav>
            {% import "macros.j2" as macros with context %}
            {{ macros.render_basic_menu() }}
        </nav>
        <main class="container">

            <h1>{{ page.title }}</h1>

            <article id="content">
                            {{ page.content }}
{# RDP to deal with
            {% filter regex_replace_fn('(&quot;|")([0-9A-Za-z_|:]+)(&quot;|")', "ctxtrepl") -%}
                {% filter regex_replace_fn("aat:([0-9]+)", "aatlabel") -%}
                    {% filter markdown -%}
                        {% filter regex_replace_fn("`([A-Za-z_]+)`", "ctxtrepl") -%}
                            {{ page.content }}
                        {%- endfilter %}
                    {%- endfilter %}
                {%- endfilter %}
            {%- endfilter %}
#}
            </article>
        </main>
        <footer>
        &copy; Linked Art Contributors ; Content published under CC-BY licence ; Contact: <a href="mailto:robert.sanderson@yale.edu">robert.sanderson@yale.edu</a>
        <form name="contact" method="POST" data-netlify="true">
            <span>Comment?</span> <input type="text" name="comment"/>
            <input type="hidden" name="page" value=" {{ page.url|url }} "/>
            <button type="submit">Send</button>
        </form>
        </footer>
        {% if build == "production" -%}
            {% include "ga.j2" %}
        {%- endif %}      

    </body>
</html>
