{% extends "main.html" %}

{% block extrahead %}
<style>
  /* home page styles */
  .md-content__inner>h1 {
    display: none;
  }

  p.home {
    font-size: 125%;
    max-width: 50em;
  }

  #where-first+ul {
    display: flex;
    list-style: none;
    margin-left: 0;
    justify-content: space-between;

  }

  #where-first+ul h3 {
    font-size: 200%;
    margin-top: 0;
  }

  #where-first+ul>li {
    flex-basis: 100%;
    margin-left: 0;
    max-width: 30%;
    border-radius: 3px;
    padding: 2em;
    color: var(--la-yellow);
    background-color: var(--la-brown);
  }

  @media screen and (max-width: 720px) {
    #where-first+ul {
      flex-direction: column;
    }

    #where-first+ul>li {
      max-width: unset;
    }
  }


  .md-typeset #where-first+ul li,
  .md-typeset #where-first+ul li ul {
    list-style: none;
    margin-left: 0;
  }

  #where-first+ul a {
    color: var(--la-yellow);
    text-decoration-color: var(--la-yellow);
  }

  #where-first+ul a:hover {
    color: var(--la-yellow);
    background-color: var(--la-orange);
    text-decoration-color: var(--la-yellow);
  }
</style>
{% endblock %}