{% extends "main.html" %}

{% block styles %}
<!-- to avoid conflict, these need to be loaded first -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Overpass:300,400,600,800">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/assets/vendor/schema_doc.css">
<link href="https://use.fontawesome.com/facf9fa52c.css" media="all" rel="stylesheet">

{{ super ()}}

{% endblock %}

{% block extrahead %}
<!-- schema doc assets -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/facf9fa52c.js"></script>
<script src="/assets/vendor/schema_doc.min.js"></script>
<style>
  body {
    padding: unset;
  }

  label.md-overlay {
    margin: unset;
  }

  .accordion h2 {
    margin: unset;
  }

  .md-typeset ul:not([hidden]) {
    display: flex;
  }

  .md-typeset ul:not([hidden]) li {
    list-style: none;
  }
</style>
{% endblock %}