@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 450;
	src: local("IBM Plex Sans Text"), local("IBMPlexSans-Text"), url("../assets/fonts/IBMPlexSans-Text.woff2") format("woff2");
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 450;
	src: local("IBM Plex Sans Text Italic"), local("IBMPlexSans-TextItalic"), url("../assets/fonts/IBMPlexSans-TextItalic.woff2") format("woff2");
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 700;
	src: local("IBM Plex Sans Bold"), local("IBMPlexSans-Bold"), url("../assets/fonts/IBMPlexSans-Bold.woff2") format("woff2");
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 700;
	src: local("IBM Plex Sans Bold Italic"), local("IBMPlexSans-BoldItalic"), url("../assets/fonts/IBMPlexSans-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	src: local("IBM Plex Mono"), local("IBMPlexMono"), url("../assets/fonts/IBMPlexMono-Regular.woff2") format("woff2");
}


:root {
  /* linked art cholor palette */
  --la-orange: #C53D23;
  --la-blue: #4C93C7;
  --la-brown: #302803;
  --la-yellow: #FDFBF2;
  --la-gray: #CCCCCC;

  /* material theme css properties */
  --md-primary-fg-color: var(--la-brown);
  --md-primary-fg-color--light: var(--la-yellow);
  --md-primary-fg-color--dark:  var(--la-brown);
  --md-text-font: "IBM Plex Sans"
}

html {
  background-color: var(--la-yellow);
}

hr {
  border-color: var(--la-grey);
}

h1 {
  border-bottom: 1px solid;
  border-color: var(--la-grey);
}

.md-main a {
  color: var(--la-blue);
  text-decoration: underline;
  text-decoration-color: var(--la-blue);
  transition: text-decoration-color 350ms cubic-bezier(0.25, 0.1, 0.25, 1), color 350ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.md-main a:hover {
  color: var(--la-gray);
  text-decoration-color: transparent;
}

/* hide github stats */
.md-header__source {
  display: none;

}

/* hide title on desktop */
@media screen and (min-width: 1220px) {
  .md-header__topic {
    display: none;
  }
}

/* google slides */

.responsive-google-slides {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Ratio */
  height: 0;
  overflow: hidden;
  margin: auto;
}
.responsive-google-slides iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}