html {
    background-color: #eefeff;
    height: 100%;
    font-size: 16px;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

hr {
  border-color: #CCC;
}

h1 {
  font-family: "IBM Plex Mono", sans-serif;
  border-bottom: 1px solid #999;
  margin: 1rem 0;
  font-size: 2.5rem; /* 40px */
}

h2 {
  font-size: 2rem; /* 32px */
}

h3 {
  font-size: 1.75rem; /* 28px */
}

h4 {
  font-size: 1.5rem; /* 24px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

h6 {
  font-size: 1rem; /* 16px */
}

p {
  font-size: 1rem; /* 16px */
}

a {
  color: #2f89ff;
}

main {
  flex: 1;
  width: 100%;
  max-width: 1200px; /* Maximum width of the content */
  margin: 0 auto; /* Center the content */
  padding: 0 20px; /* Add padding for smaller screens */
}

@media (min-width: 800px) {
  .main {
    padding: 0 60px; /* Increase padding for larger screens */
  }
}


/* ============ TOP LEVEL NAVIGATION ============ */
nav {
    font-family: "IBM Plex Mono", sans-serif;
    text-align: right;
    background-color: #005dd6;
    color: #FFF;
    width: 100%;
    margin: 0; /* Center the content */
    padding: 0; /* Add padding for smaller screens */
    position: sticky;
    top: 0px;
    z-index: 1000;
}

nav img {
  height: 46px;
  float: left;
  padding: 2rem 4rem;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: #FFF;
}

nav a.selected {
    font-weight: 700;
}

nav a:hover {
    color: #F5F5F5;
}

nav ul {
    list-style: none;
    padding: 3rem 4rem 0;
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding: 0 1rem;
}

nav .nav_warning {
  font-weight: bold;
  color: red;
  border: 1px dashed red;
  padding: 3px;
  margin: 3px;
}

.container {
  margin-top: 3rem;
}


/* ============ TABLE OF CONTENTS ============ */
.toc {
  padding-left: 1rem;
}

.toc ul {
  list-style: none;
  padding-left: 5px;
}
.toc li {
  margin-bottom: 0;
  margin-top: 0;
}

.toc a {
  text-decoration: none;
  color: #2885ff;
}
.toc ul ul {
  margin: 0rem 0 0rem 2rem;
}


/* ============ PAGE FOOTER ============ */

footer {
    font-family: "IBM Plex Mono", sans-serif;
    background-color: #005dd6;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;
    padding: 3rem;
    margin-top: 3rem;
}

footer a {
  color: #bbe7ff; /* Change to your desired color */
}

/* ============ CODE BLOCKS ============ */
code {
  background-color: #fbf8e9;
}

a:hover, a:focus {
    text-decoration: underline;
}


/* In case we have other code blocks */
/* leave these definitions in place */

.codehilite > pre {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; 
  background-color: #F6F0E0;
  border-color: #C0C0B0;
}
.codehilite .nt { color: #663399; }
.codehilite .p { color: #000000; }
.codehilite .s2 { color: #005500; }
.codehilite .n {color: #aa2e00;}
.codehilite .mi {color: #4183d7;}
.codehilite .nb {color: #555599;}
.codehilite .o {color: #559999;}
.codehilite .k {color: #559955;}
.codehilite .ow {color: #995599;}
.codehilite + p {
  margin-top: -22px;
  padding-left: 10px;
}
.codehilite .hll {
  background-color: #ffff00;
  font-weight: bold;
}


pre {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; 
  background-color: #F6F0E0;
  border-color: #C0C0B0;
}

.str { color: #663399; }
.str a { color: #005500; text-decoration: none; }
.sep { color: black }
.asep { color: red; }
.bsep { color: black; }
.int { color: #aa2e00; }

.sep + .str { color: #005500; }

.context { font-size: 0.8em; }
.context + .sep { font-size: 0.8em; }
.context + .sep + .str { font-size: 0.8em; }

.mermaid {
  background: white;
  border: 1px dashed black;
  margin-bottom: 10px;
  padding: 3px;
  text-align: center;
  border-radius: 4px;
}

svg {
  background: white;
}


span.edgeLabel {
  padding-right: 5px;

}

.diagram_img {
  background: white;
  padding: 10px;
  border: 1px solid black;

}

/* ============ ADMONITIONS ============ */
.admonition {
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 24px; 
      border-left: 4px solid black;   
      background: #c0c0c0;
      margin-bottom: 1rem;
}

.note {
      border-left: 4px solid #52E052;
      background: #D0FCD0;    
}

.note .admonition-title {
        font-weight: bold;
        color: #32C032;
        margin-right: 10px;    
}

.warning {
      border-left: 4px solid #E25252;
      background: #FCD0D0; 
      margin-bottom: 8px;
}

.warning .admonition-title {
        font-weight: bold;
        color: #C03232;
        margin-right: 10px;  
}



/* ============ INDENTATION ============ */

.indent {
  margin-left: 25px;
}

/* ============ ABBREVIATIONS ============ */

abbr {
  cursor: help;
}


/* ============ ANCHOR LINKS ============ */


article .headeranchor-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -15px;
}

article .headeranchor-link:focus {
  outline: none;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  position: relative;
}

article h2 .headeranchor,
article h3 .headeranchor,
article h4 .headeranchor,
article h5 .headeranchor,
article h6 .headeranchor {
  display: none;
  color: #000;
  vertical-align: middle;
}

article h2:hover .headeranchor-link,
article h3:hover .headeranchor-link,
article h4:hover .headeranchor-link,
article h5:hover .headeranchor-link,
article h6:hover .headeranchor-link {
  height: 1em;
  padding-left: 8px;
  margin-left: -1.5em;
  line-height: 1;
  text-decoration: none;
}

article h2:hover .headeranchor-link .headeranchor,
article h3:hover .headeranchor-link .headeranchor,
article h4:hover .headeranchor-link .headeranchor,
article h5:hover .headeranchor-link .headeranchor,
article h6:hover .headeranchor-link .headeranchor {
  display: inline-block;
}

article .headeranchor {
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

article h2:hover .headeranchor-link .headeranchor:before,
article h3:hover .headeranchor-link .headeranchor:before,
article h4:hover .headeranchor-link .headeranchor:before,
article h5:hover .headeranchor-link .headeranchor:before,
article h6:hover .headeranchor-link .headeranchor:before {
  font-family: inherit;
  font-size: 85%;
  content: '🔗';
}
